<div class="jumbotron text-center">
	<h1>Instructors</h1>

	<p>{{ vm.tagline }}</p>

	<table class="instructor-list-table">
		<thead>
			<tr>
				<th>Instructor ID</th>
				<th>Instructor Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Instructor ID</th>
				<th>Instructor Name</th>
				<th>Action</th>
			</tr>
		</tfoot>
	</table>

	<div class = "row">
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input id="name" type="text" class="validate">
			<label for="name">Instructor Name</label>
		</div>
		<div class="col s2">
			<button class="waves-effect waves-light btn" id="addBtn" type="button">
				Add
				<i class="material-icons left">add_circle</i>
			</button>
		</div>
	</div>

</div>
