<div class="container viewContainer">
  <h1>User Statistics</h1>

  <p>{{ vm.tagline }}</p>
  <div class="row">
    <div class="col s12">
      <table class="student-stats-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Temperature</th>
            <th>Weather Summary</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Temperature</th>
            <th>Weather Summary</th>
          </tr>
          </tfood>
      </table>
      <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </div>
  </div>
</div>
