<div class="jumbotron text-center">
	<h1>User Statistics</h1>

	<p>{{ tagline }}</p>

	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Distance</th>
				<th>Weather Data</th>
			</tr>
		</thead>
			<tr>
				<td>Date</td>
				<td>Start Time</td>
				<td>End Time</td>
				<td>Duration</td>
				<td>Distance</td>
				<td>Weather Data</td>
			</tr>
		<tbody>
		<tfoot>
			<tr>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Distance</th>
				<th>Weather Data</th>
			</tr>
		</tfoot>
	</table>
</div>
