<div class="jumbotron text-center">
	<h1>User Statistics</h1>

	<p>{{ vm.tagline }}</p>

	<table class="student-stats-table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Distance</th>
				<th>Temperature</th>
				<th>Weather Summary</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Distance</th>
				<th>Temperature</th>
				<th>Weather Summary</th>
			</tr>
		</tfood>
	</table>
	<a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>

	<h6>Total Day Hours </h6>
	<md-progress-linear md-mode="determinate" value="{{ vm.totDayHours }}"></md-progress-linear>
	<h6>Total Night Hours</h6>
	<md-progress-linear md-mode="determinate" value="{{ vm.totNightHours }}"></md-progress-linear>
	<h6>Total Hours</h6>
	<md-progress-linear md-mode="determinate" value="{{ vm.totDriveHours }}"></md-progress-linear>
</div>
